.s-provider {
  padding: 50px 0 80px;
  background-color: #fff;

  @media (max-width: $md) {
    padding: 35px 0 48px;
  }
}

.s-provider__inner {
  max-width: 1314px;
  background-color: #eef4ec;
  border-radius: 15px;
  padding: 35px 50px;
  margin: 0 auto;

  @media (max-width: $md) {
    padding: 24px 20px;
  }
}

.s-provider__header {
  display: flex;

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.s-provider__wrap-img {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 75px;
  margin: 0 45px 0 0;
  padding: 8px;
  background-color: #fff;
  border-radius: 10px;

  img {
    max-height: 100%;
    flex-shrink: 0;
  }

  @media (max-width: $md) {
    margin: 0 0 15px 0;
  }
}

.s-provider__title {
  font-size: 42px;
  line-height: 1.19;
  color: $c-accent;
  margin-bottom: 0;

  @media (max-width: $lg) {
    font-size: 22px;
    line-height: 1.45;
  }
}

.s-provider__subtitle {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 42px;

  @media (max-width: $lg) {
    font-size: 22px;
  }
}

.s-provider__desc {
  padding-top: 24px;
}
