.link {
  color: $c-main;
  box-shadow: inset 0px -1px 0px 0px rgba($c-main, 1);
  transition: .2s;

  &:hover {
    color: $c-accent;
    text-decoration: none;
    box-shadow: inset 0px -1px 0px 0px rgba($c-accent, 1);
  }
}
